TODO.md
rename.sh
tester.tex

*.synctex
*.synctex(busy)
*.pdf
*.aux
*.bcf
*.lof
*.log
*.lot
*.out
*.xml
*.gz
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.app
*.mf
.DS_Store
.vscode/ltex.hiddenFalsePositives.de-DE.txt
